@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("/background-gradient.svg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
